<section class="not-prose">
  <!-- <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> Philosophy:</span
    > Simplicity, Best Practices and High Performance
  </div> -->
  <div class="overflow-hidden whitespace-nowrap relative">
    <div class="animate-marquee">
      <p class="text-marquee text-primary">Discover Your Mood Melodies!</p>
      <p class="text-marquee text-primary">Discover Your Mood Melodies!</p>
    </div>
  </div>
</section>
